<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gm.settingsbridge"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="lineageos.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="false"
        android:directBootAware="true"
        android:label="GM8 Settings Bridge"
        android:persistent="true">

        <receiver
            android:name=".BootReceiver"
            android:directBootAware="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".SettingsBridgeService"
            android:directBootAware="true"
            android:exported="false" />
    </application>
</manifest>
